.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--small-spacing);
  background-color: var(--purple);
  border: 2px solid var(--purple);
  color: var(--white);
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  transition:
    background-color var(--animation-duration),
    border-color var(--animation-duration),
    opacity var(--animation-duration);

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  &:hover {
    background-color: var(--purple-hover);
    border-color: var(--purple-hover);
    color: var(--white);
  }
}

.text {
  line-height: 1em;
  text-align: center;
}

.small {
  padding: var(--medium-spacing);
  border-radius: var(--standard-border-radius);
}

.large {
  padding: var(--large-spacing);
  border-radius: var(--app-border-radius);
}

.secondary {
  background-color: var(--white);
  color: var(--purple);

  &:hover {
    background-color: var(--silver);
    color: var(--purple-hover);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
