.errorBoundary {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--large-spacing);
}

.title {
  font-weight: bold;
  font-size: var(--large-font);
  text-transform: uppercase;
}

.message {
  max-width: 400px;
  opacity: 0.6;
  text-align: center;
  margin-top: var(--small-spacing);
}

.action {
  margin-top: var(--large-spacing);
}
