.statusPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--large-spacing);
  text-align: center;
}

.code {
  font-size: 12rem;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: var(--large-font);
  text-transform: uppercase;
  margin: var(--small-spacing) 0 0;
}

.message {
  max-width: 400px;
  color: var(--gray);
  margin: var(--small-spacing) 0 0;
}

.action {
  margin-top: var(--large-spacing);
}
