.verticalMenu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--tiny-spacing);
  cursor: pointer;
  opacity: 0.6;
  border-radius: var(--standard-border-radius);
  transition: opacity var(--animation-duration);

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover,
  &.expanded {
    opacity: 1;
  }
}
