@use './Variables' as *;

.error {
  background: $red;
  color: $white;
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 0px;
  width: 100%;
  z-index: 9999;
  transition: height $animation_duration;

  .errorMessage {
    flex: 1;
    padding: 0 $large_spacing;
  }

  .closeError {
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1em;
    padding: 0 $large_spacing;
    height: 48px;
    display: flex;
    align-items: center;
  }

  &.hasError {
    height: 48px;
  }
}
