@use './Variables' as *;

.errorBoundary {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $large_spacing;
}

.title {
  font-weight: bold;
  font-size: $large_font;
  text-transform: uppercase;
}

.message {
  max-width: 400px;
  opacity: 0.6;
  text-align: center;
  margin-top: $small_spacing;
}

.action {
  margin-top: $large_spacing;
}
