@use "sass:color";
@use './Variables' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color.adjust($black, $alpha: -0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .modalContent {
    background: $white;
    border-radius: $standard_border_radius;
    padding: $medium_spacing;
    width: 100%;
    max-width: 600px;
  }
}
