@use './Variables' as *;

.notFound {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: transparent;
    font-size: 12rem;
    line-height: 1em;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    background: url("../assets/hero.jpg");
    background-clip: text;
    margin: 0;
  }

  .title {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: $small_spacing;
  }

  .description {
    max-width: 400px;
    opacity: 0.6;
    text-align: center;
    margin-top: $small_spacing;
  }

  .button {
    margin-top: $large_spacing;
  }
}