@use 'sass:color';
@use './Variables' as *;

$max_height: 280px;

.popup {
  position: fixed;
  z-index: $high_z_index + 1;
  max-height: 0;
  overflow: hidden;
  border-radius: $standard_border_radius;
  transition: max-height $animation_duration;

  &.open {
    max-height: $max_height;
    box-shadow: $standard_box_shadow;
  }
}

.suggestions {
  width: 180px;
  max-width: calc(100vw - $medium_spacing);
  max-height: $max_height;
  overflow-y: auto;
  background: color.adjust($white, $alpha: -0.25);
  backdrop-filter: $blur;
  border-radius: $standard_border_radius;
  user-select: none;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 $large_spacing;
  color: $dark_gray;
  font-size: $small_font;
  cursor: pointer;

  &:hover {
    background: $purple;
    color: $white;

    svg {
      fill: $white;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.suggestionText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggestionIcon {
  display: flex;
  align-items: center;
  margin-left: $small_spacing;

  svg {
    width: 14px;
    height: 14px;
  }
}

.divider {
  height: 1px;
  background: $light_gray;
  margin: $small_spacing 0;
}
