/*
====================
=======COLORS=======
====================
*/
$black: #111111;
$dark_gray: #222222;
$gray: #666666;
$light_gray: #dddddd;
$silver: #f3f2ff;
$white: #ffffff;
$green: #2d9c62;
$pink: #ffdeff;
$blue: #5b96ff;
$purple: #806fd7;
$yellow: #ffd22e;
$red: #ff4d58;

/*
===================
======SPACING======
===================
*/
$tiny_spacing: 4px;
$small_spacing: 8px;
$medium_spacing: 16px;
$large_spacing: 24px;
$xlarge_spacing: 48px;

/*
==================
=======MISC=======
==================
*/
$header_height: 92px;
$app_border_radius: 32px;
$standard_border_radius: 16px;
$standard_box_shadow:
  rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
  rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
  rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
$input_height: 40px;
$low_z_index: -1;
$high_z_index: 9999;
$animation_duration: 0.2s;

/*
====================
=====RESPONSIVE=====
====================
*/
$mobile: 980px;
$directions: (
  '<': max-width,
  '<=': max-width,
  '>': min-width,
  '>=': min-width,
  between: between,
);

/*
Example usage:
@include responsive('<', 600px) {...}
@include responsive('>=', 400px) {...}
@include responsive('between', 400px, 600px) {...}
*/
@mixin responsive($direction, $px, $px2: null) {
  $dir: map-get($directions, $direction);
  @if $dir == null {
    @warn 'missing direction "#{$direction}"';
  } @else {
    @if $dir == 'between' and $px2 != null {
      @media only screen and (min-width: $px) and (max-width: $px2) {
        @content;
      }
    } @else {
      @media only screen and ($dir: $px) {
        @content;
      }
    }
  }
}

@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
